<div class="profile__header">
    Личный кабинет
</div>
<div class="profile">
    <div class="profile-navigation">
        {{{ ProfileNavigation }}}
    </div>
    <div class="tickets__info">
        <div data-id="settings" class="edit cs-border navigation-item">
            {{{ ProfileEdit }}}
        </div>
        <div data-id="current" style="display: none" class="tickets navigation-item">
            {{{ ProfileActualTickets }}}
        </div>
        <div data-id="history" style="display: none" class="tickets navigation-item">
            {{{ ProfileHistoryTickets }}}
        </div>
    </div>
</div>
