<div class="profile__header">
    Личный кабинет
</div>
<hr class="header__line">
<div class="profile">
    <div class="edit cs-border">
        {{{ ProfileEdit }}}
    </div>
    <div class="tickets__info">
        <div class="tickets cs-border">
            {{{ ProfileActualTickets }}}
        </div>
        <div class="tickets cs-border">
            {{{ ProfileHistoryTickets }}}
        </div>
    </div>
</div>
