$profile-dropdown_padding: 13px;

.profile-dropdown {
  padding: $profile-dropdown_padding;
  display: flex;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.7);;
  z-index: 100;

  &__header {
    display: flex;
    flex-direction: row;

    align-items: center;

    &_info {
      display: flex;
      flex-direction: column;

      padding-left: $profile-dropdown_padding;

      &_name {
        color: $main__font_color;
        margin-bottom: 5px;
      }

      &_login {
        color: $main__text_help-color;
      }
    }
  }

  &__line {
    height: 2px;
    background-color: $main__font_color;
    width: 100%;
  }

  &__item {
    text-align: left;
    font: inherit {
      size: 1rem;
      weight: bold;
    }
    color: $main__font_color;
    background: transparent;
    border: none;
    padding: 10px;


    &:hover {
      background-color: $main__font_color;
      color: $main__background_color;
    }
  }
}

