<button class="button button-play" data-event="{{ event }}">
    <svg class="button-play__svg" viewBox="0 0 22 23" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M20.7418 9.74027C22.1413 10.4961 22.1413 12.5039 20.7418 13.2597L3.70043 22.4638C2.3679 23.1835 0.75 22.2186 0.75 20.7041V2.2959C0.75 0.781431 2.3679 -0.183536 3.70044 0.536168L20.7418 9.74027Z"
              fill="black"/>
    </svg>
</button>
