.movie-list {
  width: $main__page_width;
  margin: 5rem auto 0;
}

.movie-list__content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.movie-list__header {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.movie-list__line {
  margin: 5px 0 !important;
}
