<div class="tickets__header">
    <span class="tickets__header-text">Текущие заказы</span>
</div>
<div class="tickets__wrapper">
    <div class="tickets__ticket">
        <div class="ticket__title">
            Довод
        </div>
        <div class="ticket__info">
            20 Октября 2020
        </div>
        <div class="ticket__info">
            18:00
        </div>
        <a class="ticket__cinema" href="/cinema/" data-event="changePath" data-path="/cinema/">Формула Кино Лефортово</a>
        <div class="ticket__info">
            1 зал | 1 место
        </div>
    </div>
    <div class="tickets__ticket">
        <div class="ticket__title">
            Довод
        </div>
        <div class="ticket__info">
            20 Октября 2020
        </div>
        <div class="ticket__info">
            18:00
        </div>
        <a class="ticket__cinema" href="/cinema/" data-event="changePath" data-path="/cinema/">Формула Кино Лефортово</a>
        <div class="ticket__info">
            1 зал | 1 место
        </div>
    </div>
    <div class="tickets__ticket">
        <div class="ticket__title">
            Довод
        </div>
        <div class="ticket__info">
            20 Октября 2020
        </div>
        <div class="ticket__info">
            18:00
        </div>
        <a class="ticket__cinema" href="/cinema/" data-event="changePath" data-path="/cinema/">Формула Кино Лефортово</a>
        <div class="ticket__info">
            1 зал | 1 место
        </div>
    </div>
    <div class="tickets__ticket">
        <div class="ticket__title">
            Довод
        </div>
        <div class="ticket__info">
            20 Октября 2020
        </div>
        <div class="ticket__info">
            18:00
        </div>
        <a class="ticket__cinema" href="/cinema/" data-event="changePath" data-path="/cinema/">Формула Кино Лефортово</a>
        <div class="ticket__info">
            1 зал | 1 место
        </div>
    </div>
    <div class="tickets__ticket">
        <div class="ticket__title">
            Довод
        </div>
        <div class="ticket__info">
            20 Октября 2020
        </div>
        <div class="ticket__info">
            18:00
        </div>
        <a class="ticket__cinema" href="/cinema/" data-event="changePath" data-path="/cinema/">Формула Кино Лефортово</a>
        <div class="ticket__info">
            1 зал | 1 место
        </div>
    </div>
    <div class="tickets__ticket">
        <div class="ticket__title">
            Довод
        </div>
        <div class="ticket__info">
            20 Октября 2020
        </div>
        <div class="ticket__info">
            18:00
        </div>
        <a class="ticket__cinema" href="/cinema/" data-event="changePath" data-path="/cinema/">Формула Кино Лефортово</a>
        <div class="ticket__info">
            1 зал | 1 место
        </div>
    </div>

</div>
