$main-brend-color: #0d929c;
$main-font-color: #FFFFFF;
$main-background-color: #353535;

$main-brend-color-hover: #056e76;
$main-button-font-color: #FFFFFF;

$slider-bottom-margin: 1rem;
$header-margin: 6rem;
$main-page-width: 70vw;
$description-aside-width: 30%;
$main-font: Montserrat, sans-serif;

$main-help-text-color: rgb(118, 118, 118);
$text-shadow-color: rgba(0, 0, 0, 0.25);

$rating-color: #FFC700;

$ticket-color: #BC8110;

$occupied-place: #9e9d9d;
$selected-place: #BC8110;

