@import "vars";
@import "../../src/components/BaseComponents/buttons/button";
@import "../../src/components/BaseComponents/buttons/scheduleButton/scheduleButton";
@import "../../src/components/BaseComponents/buttons/standartButton/standardButton";
@import "../../src/components/BaseComponents/buttons/bigButton/bigButton";
@import "../../src/components/BaseComponents/buttons/seatButton/seatButton";
@import "../../src/components/BaseComponents/buttons/transparentButton/ticketButton";
@import "../../src/components/BaseComponents/textInput/textInput";
@import "../../src/components/BaseComponents/imageInput/imageInput";
@import "../../src/components/BaseComponents/validationBlock/validationBlock";
@import "../../src/components/BaseComponents/selectList/selectList";
@import "../../src/components/BaseComponents/filter/filter";
@import "../../src/components/BaseComponents/avatar/avatar";
@import "../../src/components/Main/header/header";
@import "../../src/components/Main/userBlock/userBlock";
@import "../../src/components/Main/slider/slider";
@import "../../src/components/Movie/movieList/movieList";
@import "../../src/components/Movie/movieCard/movieCard";
@import "../../src/components/Movie/movieDescription/movieDescription";
@import "../../src/components/Movie/hallLayout/hallLayout";
@import "../../src/components/Movie/movieSchedule/movieSchedule";
@import "../../src/components/Cinema/cinemaCard/cinemaCard";
@import "../../src/components/Cinema/cinemaList/cinemaList";
@import "../../src/components/Profile/registerContent/registerContent";
@import "../../src/components/Profile/loginContent/loginContent";
@import "../../src/components/Profile/profileContent/profileContent";
@import "../../src/components/Profile/profileEdit/profileEdit";
@import "../../src/components/Profile/profileTickets/profileTickets";
@import "../../src/components/Profile/replyBlock/replyBlock";
@import "../../src/components/Main/footer/footer";

html, body {
  padding: 0;
  margin: 0;

  background: $main__background_color;

  color: $main__font_color;
  text-shadow: 0 4px 4px $main__text_shadow-color;
  font: {
    family: $main__font;
    size: $main__font_size;
  }
}

.content {
  width: $main__page_width;
  margin: 0 auto;
}

.cs-border {
  padding: $main__border_padding;
  margin: $main__border_margin;

  border: $main__border_thickness solid $main__brand_color {
    radius: $main__border_radius;
  };

  background: $main__background_color;
}
