@import "vars.css";
@import "../../src/components/header/header.css";
@import "../../src/components/userBlock/userBlock.css";
@import "../../src/components/baseComponents/buttons/button.css";
@import "../../src/components/baseComponents/buttons/scheduleButton/scheduleButton.css";
@import "../../src/components/baseComponents/buttons/standartButton/standardButton.css";
@import "../../src/components/baseComponents/buttons/playButton/playButton.css";
@import "../../src/components/baseComponents/textInput/textInput.css";
@import "../../src/components/RegisterContent/registerContent.css";
@import "../../src/components/loginContent/loginContent.css";
@import "../../src/components/baseComponents/imageInput/imageInput.css";
@import "../../src/components/slider/slider.css";
@import "../../src/components/baseComponents/buttons/watchButton/watchButton.css";
@import "../../src/components/movieList/movieList.css";
@import "../../src/components/movieCard/movieCard.css";
@import "../../src/components/movieDescription/movieDescription.css";
@import "../../src/components/cinemaCard/cinemaCard.css";
@import "../../src/components/CinemaList/cinemaList.css";
@import "../../src/components/profileContent/profileContent.css";
@import "../../src/components/profileEdit/profileEdit.css";
@import "../../src/components/profileTickets/profileTickets.css";
@import "../../src/components/baseComponents/buttons/seatButton/seatButton.css";
@import "../../src/components/hallLayout/hallLayout.css";

html, body {
    padding: 0;
    margin: 0;
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-size: 15px;
    line-height: 24px;
    color: white;
    background: black;
    min-width: 1300px;
}

.content {
    width: var(--main-page-width);
    margin: 0 auto;
}
