:root {
    --main-brend-color: #880000;
    --main-brend-color-hover: #640000;
    --slider-bottom-margin: 1rem;
    --header-margin: 6rem;
    --main-page-width: 70vw;
    --description-aside-width: 30%;
    --main-font: Montserrat, sans-serif;
    --main-font-color: white;
    --main-background-color: black;
    --main-help-text-color: rgb(118, 118, 118);
    --text-shadow-color: rgba(0, 0, 0, 0.25);
    --rating-color: #FFC700;
    --ticket-color: #BC8110;
}
