<div class="edit__header">
    Редактирование
</div>
{{{ Validation }}}
<div class="edit__input">
    {{#each input }}
        {{{ this }}}
    {{/each}}
</div>
<div class="edit__admission">
    <div class="edit__header-submit">
        {{{ StandardButton }}}
    </div>
</div>
