.button-standard {
  background: $main__brand_color;
}
.button-standard:hover {
  background: $main__brand_color-hover;
}

.button-standard__text {
  font-family: inherit;
  font-style: inherit;
  font-weight: bold;
  font-size: 1em;
  color: $button__font_color;
}


