.button-standard {
    background: var(--main-brend-color);
    padding: 0.5em 1.5rem;
}
.button-standard:hover {
    background: var(--main-brend-color-hover);
}

.button-standard__text {
    font-family: inherit;
    font-style: inherit;
    font-weight: inherit;
    font-size: 1em;
    color: white;
}


