.movie-card {
    width: 480px;
    height: 350px;

    font-weight: bold;

    display: flex;
    flex-direction: row;
}

.movie-card__poster {
    margin-right: 30px;
    width: 100%;
}

.movie-card__poster_img {
    margin-right: 30px;
    border-radius: 41px;
    height: 100%;
}

.movie-card__description {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.movie-card__description_title {
    font-weight: bold;
    font-size: 1.5rem;
    text-decoration: none;
    cursor: pointer;
    color: var(--main-font-color);
    margin-bottom: 7px;
}

.movie-card__description_specification {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.description_specification__info {
    font-size: 1rem;
    font-weight: bold;
    color: var(--main-help-text-color);
}

.movie-card__description_schedule {
    display: flex;
    flex-direction: column;
    height: 100%;

}

.movie-card__description_schedule-line {
    width: 100%;
    border: none;
    background-color: var(--main-font-color);
    border-radius: 10px;
    height: 4px;
}

.movie-card__description_schedule-title {
    font-weight: bold;
    font-size: 1.5rem;
    color: var(--main-font-color);
    margin-bottom: 7px;
}

.movie-card__description_schedule-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.movie-card__description_schedule-button {
    margin-top: auto;
    text-align: center;
}

