.profile {
  display: flex;
  flex-wrap: wrap;
  align-self: flex-start;
  justify-content: center;
}

.profile__header {
  position: relative;
  margin-top: 30px;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

.profile__header-logout {
  position: absolute;
  right: 30px;
  top: 0;
}

.logout__text {
  font-weight: normal;
  font-size: 1.5rem;
  color: $main__font_color;
}

.edit {
  width: 350px;
  font-weight: bold;

}

.tickets {
  width: 550px;

  font-weight: bold;
}

