<div class="profile__header">
    Личный кабинет
    <div class="profile__header-logout">
        <a class="logout__text" href="/auth/logut/" data-path="/auth/logout" data-event="logout">Выйти</a>
    </div>
</div>
<div class="profile">
    <div class="edit">
        {{{ ProfileEdit }}}
    </div>
    <div class="tickets">
        {{{ ProfileTickets }}}
    </div>
</div>
