<div class="filter">
    <div class="filter__item">
        {{{ SelectCinema }}}
    </div>
    {{#each dates}}
        <div class="filter__submit">
            {{{ this }}}
        </div>
    {{/each}}
</div>
