.button-watch {
    background: var(--main-brend-color);
    padding: 0.5em 1.5em;
}
.button-watch:hover {
    background: var(--main-brend-color-hover);
}

.button-watch__text {
    font-family: inherit;
    font-weight: bold;
    font-size: 1.5rem;
    color: var(--main-button-font-color);
    line-height: 1.3em;
}
