.payment {
  width: 600px;

  font-weight: bold;

  margin: 30px auto !important;
}

.payment__header {
  text-align: center;
  font-size: 30px;
  margin-bottom: 15px;
}

.payment__options_options {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.payment__input {
  font-size: 1rem;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}

.payment__admission {
  display: flex;
  align-items: center;
  justify-content: center;
}

.payment__info {
  margin-bottom: 20px;
}
