.movie-card {
  width: 220px;
  height: 100%;

  font-weight: bold;

  display: flex;
  flex-direction: column;
}

.movie-card__poster_img {
  margin-right: 30px;
  border-radius: 15px;
  width: 100%;
}

.movie-card__description {
  display: flex;
  flex-direction: column;
}

.movie-card__description_title {
  font-weight: bold;
  font-size: 1.5rem;
  text-decoration: none;
  cursor: pointer;
  color: $main__font_color;
  margin: {
    top: 7px;
    bottom: 7px;
  };
}

.movie-card__description_specification {
  display: flex;
  flex-direction: column;
}

.description_specification__info {
  font: {
    size: 1rem;
    weight: bold;
  };

  color: $main__font_color;
  margin-bottom: 7px;
}

.movie-card__description_schedule {
  display: flex;
  flex-direction: column;
  height: 100%;

}

.movie-card__description_schedule-line {
  width: 100%;
  border: none;
  background-color: $main__font_color;
  border-radius: 10px;
  height: 4px;
}

.movie-card__description_schedule-title {
  font-weight: bold;
  font-size: 1.5rem;
  color: $main__font_color;
  margin-bottom: 7px;
}

.movie-card__description_schedule-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.movie-card__description_schedule-button {
  margin-top: auto;
  text-align: center;
}

