<div class="cinema-card">
    <div class="cinema-card__poster">
        <a href="#"><img class="cinema-card__poster_img" src="/static/img/cinema.jpg" alt=""></a>
    </div>

    <div class="cinema-card__description">
        <a href="#" class="cinema-card__description_title">
            {{ name }}
        </a>
        <div class="cinema-card__description_specification">
            <div>
                <span class="description_specification__title">
                    Адрес:
                </span>
                <span class="description_specification__info">
                    {{ address }}
                </span>
            </div>
            <div>
                <span class="description_specification__title">
                    Количество залов:
                </span>
                <span class="description_specification__info">
                    {{  hallCount }}
                </span>
            </div>
        </div>
    </div>
</div>
