<div id="film_premiers" class="movie-list__header">Премьеры</div>
<hr class="header__line movie-list__line">
<div class="movie-list__content">
    {{#each MovieCards }}
        {{{ this }}}
    {{/each}}
</div>
