.button-transparent {

  border: 3px solid $main__font_color;
  background-color: transparent;
  font: {
    family: inherit;
    style: inherit;
    weight: bold;
    size: 1em;
  };

  color: $main__font_color;

  &:hover {
    background: white;
    border: 3px solid transparent;
    color: black;
  }
}

