.image-input {
    height: 1.5em;
    background: var(--main-background-color);
    border: 2px var(--main-help-text-color) solid;
    border-radius: .4em;
    color: var(--main-font-color);
    padding: 6px 0 6px 8px;
    align-items: center;
    margin-right: 10px;
}

.image-input__text {
    font-family: inherit;
    font-weight: inherit;
    font-size: 1em;
    color: var(--main-help-text-color);
    cursor: pointer;
}

.image-input:focus {
    outline: none;
    cursor: pointer;
}

.image-input__label {
    display: inline-block;
    font-size: 1em;
    font-weight: bold;
    width: 100%;
}

.default-input {
    display: none;
}

.avatar__preview {
    border: 3px solid var(--main-brend-color);
    border-radius: 10px;
    object-fit: cover;
    height: 65px;
}

.label__text {
    margin-bottom: 10px;
}

.avatar {
    margin-left: auto;
    display: flex;
    align-items: flex-end;
}

.image-input__error-disabled {
    display: none;
}
.image-input__error {
    color: var(--main-brend-color);
    text-align: left;
    font-size: 0.8em;
    margin-top: -15px;
    margin-bottom: 15px;
}

.avatar-wrapper {
    display: flex;
    flex-direction: row;
}
