.button-schedule {
    background: var(--main-brend-color);
    padding: 0.5em 0.9rem;

    font-family: inherit;
    font-style: inherit;
    font-weight: bold;
    font-size: 0.8rem;
    margin: 5px 2px;
}

.button-schedule:hover {
    background: var(--main-brend-color-hover);
}

.button__schedule {
    color: var(--main-font-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
