.userblock__avatar_regular {
    border: 3px solid #880000;
    border-radius: 10px;
    object-fit: cover;
    height: 3.9em;
    width: 3.9em;
    filter: drop-shadow(3px 3px 4px rgba(0, 0, 0, 0.5));
}

.userblock__avatar_premium {
    border: 3px solid #880000;
    border-radius: 10px;
    object-fit: cover;
    height: 3.9em;
    width: 3.9em;
}

.userblock__item {
    color: #FFFFFF;
    text-decoration: none;
    margin-left: 1.5rem;
}
