.userblock__avatar_regular {
    border: 3px solid var(--main-brend-color);
    border-radius: 10px;
    object-fit: cover;
    height: 3.9em;
    width: 3.9em;
    filter: drop-shadow(3px 3px 4px var(--text-shadow-color));
}

.userblock__avatar_premium {
    border: 3px solid var(--main-brend-color);
    border-radius: 10px;
    object-fit: cover;
    height: 3.9em;
    width: 3.9em;
}

.userblock__item {
    color: inherit;
    text-decoration: none;
    margin-left: 1.5rem;
}
