<div class="header {{#if isSlider }} header-slider {{/if}}">
    {{{ Header }}}
</div>
<div class="slider">
    {{{ Slider }}}
</div>
<div class="content">
    {{{ Content }}}
</div>
<div class="footer">
    <hr class="main__line">
    {{{ Footer }}}
</div>
